@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

/* Reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #f8f8f8;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables css */
:root {
  --color-primary: #4502c7;
}

/* Common */
.container {
  width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

/* Product Item */
.product-item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2.382px 2.382px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.product-item .inner-image {
  aspect-ratio: 271/237;
  margin-bottom: -13px;
}

.product-item .inner-image a {
  display: block;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-item .inner-discount {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
  border-radius: 0 31.973px 31.973px 0;
  background: #da0808;
}

.product-item .inner-discount i {
  color: #ffcb06;
  font-size: 10px;
  margin-right: 7px;
}

.product-item .inner-discount p {
  color: #f9f9fa;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.454px;
  text-transform: uppercase;
}

.product-item .inner-content {
  padding: 16px;
}

.product-item .inner-content .inner-title {
  font-size: 14.078px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 8px;
  height: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  box-orient: vertical;
}

.product-item .inner-content .inner-title a {
  color: #25282b;
}

.product-item .inner-content .inner-title a:hover {
  color: var(--color-primary);
}

.product-item .inner-content .inner-prices {
  display: flex;
  gap: 5px 12px;
  margin-bottom: 9.5px;
}

.product-item .inner-content .inner-prices .inner-unit {
  text-decoration: underline;
}

.product-item .inner-content .inner-prices .inner-price-old {
  color: #52575c;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: line-through;
}

.product-item .inner-content .inner-prices .inner-price-new {
  color: #da0808;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.product-item .inner-content .inner-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin-bottom: 10px;
}

.product-item .inner-content .inner-description .inner-description-item {
  color: #8c8c8c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.product-item .inner-content .inner-description .inner-description-item span {
  color: #8c8c8c;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.product-item .inner-content .inner-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.product-item .inner-content .inner-meta .inner-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-item .inner-content .inner-meta .inner-rating .inner-star {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.product-item .inner-content .inner-meta .inner-rating .inner-star i {
  font-size: 12px;
  color: #ffd600;
}

.product-item .inner-content .inner-meta .inner-rating .inner-number {
  color: #8c8c8c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.product-item .inner-content .inner-meta .inner-stock {
  display: flex;
  gap: 7px;
  align-items: center;
}

.product-item .inner-content .inner-meta .inner-stock .inner-label {
  color: #25282b;
  text-align: right;
  font-size: 10.53px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.product-item .inner-content .inner-meta .inner-stock .inner-number {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  border-radius: 5.995px;
  background: #da0808;
  width: 33.363px;
  height: 31.973px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top Header */
.top-header {
  padding: 12px 0;
  background-color: var(--color-primary);
}

.top-header .inner-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px 40px;
}

.top-header .inner-wrapper .inner-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fffbeb;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.top-header .inner-wrapper .inner-item i {
  font-size: 20px;
}

@media (max-width: 767.98px) {
  .top-header {
    display: none;
  }
}
/* End Top Header */

/* Header */
.header {
  background: #fff;
  padding: 12px 0;
}

.header .inner-menu-mobile {
  display: none;
}

.header .inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-wrapper .inner-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .inner-wrapper .inner-logo img {
  height: 50px;
  width: auto;
}

.header .inner-wrapper .inner-logo p {
  color: var(--color-primary);
  font-size: 23px;
  font-weight: 800;
}

.header .inner-wrapper .inner-menu .inner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px 40px;
}

.header .inner-wrapper .inner-menu .inner-list .inner-link {
  color: #25282b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  transition: all 0.3s ease-in;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.header .inner-wrapper .inner-menu .inner-list .inner-link.active,
.header .inner-wrapper .inner-menu .inner-list .inner-link:hover {
  color: var(--color-primary);
}

/* Menu Cấp 2 */
.header .inner-wrapper .inner-menu .inner-list .inner-item {
  position: relative;
}

.header .inner-wrapper .inner-menu .inner-list .inner-item ul {
  position: absolute;
  top: 120%;
  left: 0;
  padding: 8px 0;
  border-radius: 0 0 10px 10px;
  background: #fff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.header .inner-wrapper .inner-menu .inner-list .inner-item:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  top: 100%;
}

.header .inner-wrapper .inner-menu .inner-list .inner-item ul li a {
  display: inline-flex;
  width: 280px;
  padding: 8px 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.header .inner-wrapper .inner-menu .inner-list .inner-item ul li a.active,
.header .inner-wrapper .inner-menu .inner-list .inner-item ul li a:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.header .inner-wrapper .inner-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header .inner-wrapper .inner-cart i {
  font-size: 24px;
  color: var(--color-primary);
}

.header .inner-wrapper .inner-cart span {
  position: relative;
  background-color: #ff3904;
  display: inline-flex;
  border-radius: 3px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.08);
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 120.008%;
  padding: 2px 5px;
}

.header .inner-wrapper .inner-cart span::before {
  position: absolute;
  top: 4.2px;
  left: -4.2px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #ff3904;
}

@media (max-width: 1199.98px) {
  .header .inner-wrapper .inner-menu .inner-list {
    gap: 5px 20px;
  }
}

@media (max-width: 991.98px) {
  .header .inner-menu-mobile {
    display: inline-block;
    font-size: 24px;
    color: #25282b;
    background-color: transparent;
    cursor: pointer;
  }

  .header .inner-wrapper .inner-menu {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header .inner-wrapper .inner-logo img {
    height: 40px;
  }

  .header .inner-wrapper .inner-logo p {
    font-size: 20px;
  }
}
/* End Header */

/* Tour Booking */
.tour-booking {
  padding: 106px 0;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tour-booking .inner-wrapper {
  width: 768px;
  margin: 0 auto;
}

.tour-booking .inner-wrapper .inner-title {
  color: var(--color-primary);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.796px;
  margin-bottom: 20px;
}

.tour-booking .inner-wrapper .inner-description {
  color: #25282b;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  padding: 0 15px;
}

.tour-booking .inner-wrapper .inner-form {
  border-radius: 10px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.tour-booking .inner-wrapper .inner-form .inner-box.inner-address {
  width: 100%;
}

.tour-booking .inner-wrapper .inner-form .inner-box.inner-user,
.tour-booking .inner-wrapper .inner-form .inner-box.inner-calendar {
  width: 37.5%;
}

.tour-booking .inner-wrapper .inner-form .inner-button {
  flex: 1;
  border-radius: 10px;
  background: var(--color-primary);
  box-shadow: 0 3.298px 3.298px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  padding: 12px 17px;
  align-items: center;
  font-size: 13.318px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease;
}

.tour-booking .inner-wrapper .inner-form .inner-button:hover {
  background-color: #3b1191;
}

.tour-booking .inner-wrapper .inner-form .inner-button img {
  height: 20px;
  width: auto;
  margin-right: 11px;
}

.tour-booking .inner-wrapper .inner-form .inner-box .inner-input-group {
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 20px 12px;
}

.tour-booking
  .inner-wrapper
  .inner-form
  .inner-box
  .inner-input-group
  .inner-icon {
  height: 20px;
  width: auto;
  margin-right: 14px;
}

.tour-booking
  .inner-wrapper
  .inner-form
  .inner-box
  .inner-input-group
  .inner-input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.596px;
}

.tour-booking
  .inner-wrapper
  .inner-form
  .inner-box
  .inner-input-group
  .inner-input::placeholder {
  color: #a6a6a6;
}

.tour-booking .inner-wrapper .inner-form .inner-box .inner-input-group i {
  font-size: 12px;
  color: var(--color-primary);
}

@media (max-width: 991.98px) {
  .tour-booking .inner-wrapper {
    width: 100%;
  }

  .tour-booking .inner-wrapper .inner-title {
    font-size: 32px;
  }

  .tour-booking .inner-wrapper .inner-description {
    font-size: 14px;
  }

  .tour-booking .inner-wrapper .inner-form {
    padding: 30px;
    gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .tour-booking .inner-wrapper .inner-title {
    font-size: 27px;
  }

  .tour-booking .inner-wrapper .inner-form {
    padding: 15px;
    gap: 12px;
  }

  .tour-booking .inner-wrapper .inner-form .inner-box.inner-user,
  .tour-booking .inner-wrapper .inner-form .inner-box.inner-calendar {
    width: 100%;
  }

  .tour-booking .inner-wrapper .inner-form .inner-button {
    height: 60px;
  }
}
/* End Tour Booking */

/* Flash Sale */
.flash-sale {
  padding: 60px 0;
}

.flash-sale .inner-wrapper {
  background-color: var(--color-primary);
  border-radius: 10px;
  box-shadow: 0 3.997px 3.997px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 27px 32px 23px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.flash-sale .inner-wrapper .inner-info {
  width: calc(25% - 32px);
  text-align: center;
}

.flash-sale .inner-wrapper .inner-info .inner-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
}

.flash-sale .inner-wrapper .inner-info .inner-description {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 36px;
}

.flash-sale .inner-wrapper .inner-info .inner-clock-title {
  color: #fff;
  font-size: 21.113px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 17px;
}

.flash-sale .inner-wrapper .inner-info .inner-clock-number {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.flash-sale .inner-wrapper .inner-info .inner-clock-number span {
  display: inline-flex;
  border-radius: 9.992px;
  background: #fff;
  color: var(--color-primary);
  justify-content: center;
  align-items: center;
  font-size: 29.975px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%;
  width: 57px;
  height: 57px;
  margin-bottom: 57px;
}

.flash-sale .inner-wrapper .inner-info .inner-discount-title {
  color: #fff;
  font-size: 15.986px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%;
}

.flash-sale .inner-wrapper .inner-info .inner-discount-price {
  color: #ffd63a;
  font-size: 39.966px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%;
}

.flash-sale .inner-wrapper .inner-info .inner-discount-price span {
  text-decoration: underline;
}

.flash-sale .inner-wrapper .inner-list {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}

@media (max-width: 1199.98px) {
  .flash-sale .inner-wrapper .inner-info {
    width: calc(32% - 32px);
  }

  .flash-sale .inner-wrapper .inner-list {
    width: 68%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991.98px) {
  .flash-sale .inner-wrapper .inner-info {
    width: calc(50% - 32px);
  }

  .flash-sale .inner-wrapper .inner-list {
    width: 50%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 575.98px) {
  .flash-sale {
    padding: 45px 0;
  }

  .flash-sale .inner-wrapper {
    flex-wrap: wrap;
    padding: 30px 15px;
  }

  .flash-sale .inner-wrapper .inner-info {
    width: 100%;
  }

  .flash-sale .inner-wrapper .inner-list {
    width: 100%;
  }

  .flash-sale .inner-wrapper .inner-info .inner-title {
    margin-bottom: 10px;
  }
}
/* End Flash Sale */

/* Summer Promo */
.summer-promo {
  padding-bottom: 60px;
}

.summer-promo .inner-title {
  color: var(--color-primary);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.summer-promo .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.summer-promo .inner-wrapper .inner-item {
  aspect-ratio: 382/269;
  border-radius: 10px;
  overflow: hidden;
}

.summer-promo .inner-wrapper .inner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 991.98px) {
  .summer-promo .inner-title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .summer-promo .inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .summer-promo {
    padding-bottom: 45px;
  }

  .summer-promo .inner-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* End Summer Promo */

/* Button Outline */
.button-outline {
  display: inline-block;
  margin: 0 auto;
  padding: 13px 16px;
  border-radius: 6.824px;
  border: 2px solid var(--color-primary);
  background: #fff;
  color: var(--color-primary);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.button-outline:hover {
  background-color: var(--color-primary);
  color: #fff;
  transition: all 0.8s ease;
}

/* End Button Outline */

/* Domestic Tour */
.domestic-tour {
  padding-bottom: 60px;
}

.domestic-tour .container > .inner-title {
  color: var(--color-primary);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.domestic-tour .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.domestic-tour .inner-button {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 1199.98px) {
  .domestic-tour .inner-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767.98px) {
  .domestic-tour .inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .domestic-tour .product-item .inner-content {
    padding: 10px;
  }

  .domestic-tour .product-item .inner-content .inner-prices {
    flex-wrap: wrap;
  }

  .domestic-tour
    .product-item
    .inner-content
    .inner-description
    .inner-description-item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .domestic-tour {
    padding-bottom: 45px;
  }

  .domestic-tour .inner-wrapper {
    gap: 10px;
  }

  .domestic-tour .inner-button {
    margin-top: 25px;
  }

  .domestic-tour .button-outline {
    padding: 8px 12px;
    font-size: 14px;
  }
}
/* End Domestic Tour */

/* Tour Banner */
.tour-banner {
  padding-bottom: 60px;
}

.tour-banner .inner-image {
  border-radius: 10px;
}

.tour-banner .inner-image img {
  width: 100%;
}

@media (max-width: 575.98px) {
  .tour-banner {
    padding-bottom: 45px;
  }
}
/* End Tour Banner */

/* International Tour */
.international-tour {
  padding-bottom: 60px;
}

.international-tour .container > .inner-title {
  color: var(--color-primary);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.international-tour .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.international-tour .inner-button {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 1199.98px) {
  .international-tour .inner-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767.98px) {
  .international-tour .inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .international-tour .product-item .inner-content {
    padding: 10px;
  }

  .international-tour .product-item .inner-content .inner-prices {
    flex-wrap: wrap;
  }

  .international-tour
    .product-item
    .inner-content
    .inner-description
    .inner-description-item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .international-tour {
    padding-bottom: 45px;
  }

  .international-tour .inner-wrapper {
    gap: 10px;
  }

  .international-tour .inner-button {
    margin-top: 25px;
  }

  .international-tour .button-outline {
    padding: 8px 12px;
    font-size: 14px;
  }
}
/* End Domestic Tour */
